<p>Write a function called <code>findZedWords</code> that takes in an array of words, and returns <strong>all the words that <em>start</em> with the letter Z</strong>.</p>
<p>Refresh the page to rerun the assertions (tests). With the correct solution in the dedicated area, the failing tests below should succeed.</p>
<p>Tip: Use the DevTools Console to test your function's return value manually.</p>
<p>Edit the page source to begin.</p>

<script>

$(function() {

    /**** YOU MAY MODIFY THE CODE BELOW ****/

    const startsWithZ = (word) => word[0].toLowerCase() === 'z';

    function findZedWords(words) {
      return words.filter(startsWithZ);
    }


    /**** STOP MODIFYING HERE. ****/

    /* NOTE:
      The code below is for you and us to verify that your function is working correctly.
      It's what makes the red/pink boxes on the page. The goal is to make them green by making the assertion pass. Please do not modify the code below.
    */

    assertArraysEqual(findZedWords(['Zoons', 'Ceasar', 'Idefix']), ['Zoons']);
    assertArraysEqual(findZedWords(['Pure', 'Zooey', 'Tazza', 'zills']), ['Zooey', 'zills']);
    assertArraysEqual(findZedWords(['A', 'B', 'C']), []);

});
</script>