<style>

  /**** YOU MAY ADD OR MODIFY CSS BELOW ****/
  .question h2 {
    background-color: #ddd;
    padding: 10px;
    color: black;
  }
  /**** STOP MODIFYING HERE. ****/

</style>

<p>In the box below is an H2 element. Using HTML5 attributes and jQuery, set the box so that you can edit the content of it in place. The H2 should revert back to its last value if it is left empty.</p>

<p>Edit the the page source to begin.</p>

<div class="question">
  <h2 id='content' contenteditable="true">Edit Me!</h2>
</div>

<script>

  $(function() {
    $('#content').on('change', function(event){
    var content = $('#content').text();
    if(content.length == 0){

    }

    }
  });

</script>

