<p>Write a function that takes in an array of values, and outputs every <strong>third</strong> element, line by line, by appending them into the Gray Box below. So you will skip the first two elements, append the third, skip the fourth and fifth, etc.<p>

<p>Rules for what to output in the box:</p>
<ul>
  <li>If the value is the name of a day of the week, print it in blue.</li>
  <li>If the value is a number, print it italicized.</li>
  <li>Otherwise, leave it unstyled.</li>
</ul>

<p>Edit the page source to begin.</p>

<div class='question' id='question'>
  <h2>Gray Box</h2>
</div>

<script>

  $(function() {

    var weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

    function isWeekday(item){
      return weekdays.indexOf(item) > -1;
    }

    function buildItem(item){
      if(isWeekday(item)){
        return "<span style='color: blue;'>" + item + "</span><br />";
      } else if(typeof item === 'number') {
        return "<em>" + item + "</em>";
      } else {
        return "<span>" + item + "</span>"
      }
    }

    function addItemsToGrayBox(items) {
      var question = $('#question');

      for(i = 2, i < items.length; i+=3){
        question.append(buildItem(items[i]));
      }
    }

    addItemsToGrayBox(["Toast", {key: "Value"}, "Tuesday", "Ointment", "Saturday", 817, "Lurk", ["Battery"], "Friday", 8, 345.3, "Birthday", "a", "Rubber Duck"]);
  });

</script>

